body{
	margin: 0;
	padding: 0;
}
.main{
	display: flex;
	height: 100vh;
}

.content{
	display: flex;
    flex-wrap: wrap;
	flex: 1;
}

.left-menu{
	width: 100px;
	background: aqua;
	padding: 5px;
}
.filter {
	width: 80px;
}

.goods{
	border: 1px #ccc solid;
	width: 200px;
	height: 200px;
	display: flex;
    flex-direction: column;
}

.goods div{
	display: flex;
    justify-content: center;
}

.goods .image{
	align-items: center;
	flex: 1;
}

.goods .image img{
	max-width: 158px;
	max-height: 158px;
}

.login-popup{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-popup .cover{
	background: #000;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.login-popup .login-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 2px green solid;
    z-index: 20;
    flex-direction: column;	
}

.login-popup .close-block{
	display: flex;
    justify-content: flex-end;
    width: 100%;
}

.login-popup .empty{
	height: 20px;
}